<h4>UD. Lancar Abadi Application</h4>
<br>

Applikasi ini masih dalam tahap pengerjaan, halaman depan ini akan menjadi halaman yang paling banyak dibutuhkan dan mudah diakses, akan diganti dengan halaman pencari harga.
<br>Untuk transaksi lainnya silahkan pilih di menu atas.

<hr>
<div class="text-right">Develop by Kristono Sugiarto, S.Kom.</div>