<div class="row">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <table>
      <tr>
        <th class="text-right" width="200"><%= t 'sale.total_amount' %>:</th>
        <th width="50">&nbsp;Rp</th>
        <th class="text-right" width="150"><%= precision(@sale.total_amount) %></th>
        <th width="50"></th>
      </tr>
    </table>
  </div>
</div>